@model Cashier
@{
    ViewData["Title"] = "Edit";
    SelectList branchList = new SelectList(ViewBag.Branchs,"Id","BranchName");
}

<h1>Edit</h1>
<form asp-action="SaveEdit" asp-controller="Cashier" asp-route-id="@Model.Id">
    <div>
        <label asp-for="CashierName"></label>
        <input asp-for="CashierName" class="form-control" />
    </div>
    <label for="BranchId">Branch</label>
        <select class="form-control" asp-for="BranchId" asp-items="branchList">
            <option value=0>Select Branch</option>
        </select>
         <div class="alert-danger">
         <span asp-validation-for=BranchId></span>
    </div>
    <input type="submit" class="btn btn-success mt-4" value="Submit" />
    <a asp-controller="Cashier" asp-action="Index" class="btn btn-secondary mt-4">Cancle</a>
</form>

